body {
  background: #ffffff;
}

#text {
  position: absolute;
  margin: 0;
  padding: 0;
}

#stage {
  position: absolute;
  margin: 0;
  padding: 0;
}

#kuangkuang {
  margin: auto;
  line-height: 200px;
  width: 800px;
  text-align: center;
}

#despall {
  line-height: 20px;
  width: 800px;
}

#gogo {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 10%;
  padding:.5rem 1rem;
  border-radius:4px;
}